<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" 
      type="image/ico" 
      href="images/smile.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="content/bootstrap.css">
    <link rel="stylesheet" href="content/main.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="scripts/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="scripts/angular/angular.min.js"></script>
    <script src="scripts/bootstrap/bootstrap.min.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/controllers/setupController.js"></script>
    <script src="scripts/directives/ngRepeatWhile.js"></script>
    </head>

    <body>

        <div class="main-container" ng-app="Clickers" ng-controller="setupController">

            <div class="section-left">

                <div class="section-left-top">
                    <div class="boxHeader" style="text-align: center;">
                        STATS
                    </div>
                    <div id="unitcounter"><i class="diamondIcon fa fa-diamond fa-lg"></i> 0.00</div>
                    <div id="unitpersec"> <i class="diamondIcon fa fa-flash fa-lg"></i> p/s 0</div>
                    <div id="currentLvl">Level <i class="fa fa-level-up fa-lg"></i>: 0</div>
                </div>
                
                
                    <div class="monster-box">
                        <div class="boxHeader" style="text-align: center;">
                            ATTACK
                        </div>
                        <div class="monster-box-enemy" >
                            <img class="doorSet" ng-src="{{door}}" width="100%">
                            <img class="enemySet" ng-src="{{currentEnemy.img}}" width="100%">
                        </div>
                       <div id="progresscontainer" style="text-align: center; display: none;">
                            <progress max="100" value="80">
                                <div class="progress-bar">
                                    <span id="hp-progress"></span>
                                </div>
                            </progress>           
                        </div>
                    </div>
              

            </div>

           

            <div class="section-center">
                <div class="boxHeader">FRIENDS</div>
                
                <div class="theZoo">
                    <div ng-repeat="friend in friends" class="MonsterCard section-monstercard">
                        <div ng-repeat-while="{{friend.count}}"></div>
                        <button class="button-upgrade" ng-click="trainFriend($index)">Train</button>
                    </div>
                    <div ng-repeat="friend in friends2" class="MonsterCard section-monstercard">
                        <div ng-repeat-while="{{friend.count}}"></div>          
                    </div>                   
                        <div ng-repeat="friend in friends3" class="MonsterCard section-monstercard">                       
                            <div ng-repeat-while="{{friend.count}}"></div>
                    </div>
                </div>
            </div>

            <div class="section-right">
                <div class="boxHeader">ITEMS</div>
                <div id="items-box">
                    <div class="item-field" ng-repeat="item in items">
                        <img class="item-image" src="{{item.img}}"/>
                        <div>{{item.name}}</div>
                        <div class="button-box">
                            <button class="button-buy" ng-click="buy($index);updateGui($index)">Buy</button>
                            <p class="text">{{item.price}}</p>
                        </div>
                        <div class="button-box">
                            <button class="button-upgrade" ng-click="buy($index);updateGui($index)">Upgrade</button>
                            <p class="text">{{item.price}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
