.item-image-enemy-dark {
    width: 60px;
    height: 60px;
    filter: contrast(0%);  
}	

.item-image-enemy {
    width: 60px;
    height: 60px;
}

.item-image-enemy:hover {
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}	