.monster-box {
	margin: 5px;
	width: 100%;
    height: 49.5%;
	float: left;
	border: 5px solid #300D0D;
	border-radius: 5px;
	text-align: center;
	position:relative;
	background: rgba(251,203,129,0.5) url(../images/grass.png) no-repeat;
    background-size: 550px;
    background-position: -100px bottom;
}

.monster-box-enemy {
	text-align: center;
	font-family: Livingst;
	font-size: 22px;
	padding-top: 10px;
}

.monster-box-enemy img {
	max-height: 190px;	
	width: 80%;
	height:70%;
}