.friendcard {
	background-color:#dcc668;
	width:120px;
	height:50px;
	padding: 10px 0;
    margin: 10px;
    border: 5px solid #300D0D;
	border-radius: 5px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

    .friendcard:hover {
        border: 5px solid #999;
        -webkit-box-shadow: 0 15px 13px -13px black;
        -moz-box-shadow: 0 15px 13px -13px black;
        box-shadow: 0 4px 8px 1px black;
        cursor:pointer;
    }

.friendsLabels {
	position: absolute;
	right: 0;
	text-align: center;
}


.friendImg{
	float: left;
	max-height: 125px;
	-webkit-filter: drop-shadow(2px 2px 2px #222);
 	 filter: drop-shadow(2px 2px 2px #222);
}