@font-face {
    font-family: Windlass;
    src: url(../fonts/Windlass.ttf);
}

@font-face {
    font-family: Livingst;
    src: url(../fonts/Livingst.ttf);
}

html, body { height: 100%; margin: 0; padding: 0; }

.main-container {
	background: url(http://www.mb3d.co.uk/mb3d/Wood_Seamless_and_Tileable_High_Res_Textures_files/Wood_14_UV_H_CM_1.jpg) repeat;
}

.header h1 {
    font-size: 70px;
    color: #9A7C4A;
}

.boxHeader, .boxHeader2 { 
    /*background-color: darkslategray;*/
    font-size: 34px;
    color: #222;
    font-family: Windlass;
    text-align: center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
	background: #bfd255; /* Old browsers */
	background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}


.main-container {
    height: 100%;
	padding: 10px;
}

.section-left {
    width: 20%;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.section-left-top {
	margin: 5px;
	margin-top:0px;
	width: 100%;
    height: 49.5%;
    float: left;
    background:#FBCB81;
    border: 10px solid #300D0D;
	border-radius: 10px;
}

.monster-box {
	margin: 5px;
	width: 100%;
    height: 49.5%;
	float: left;
	border: 10px solid #300D0D;
	border-radius: 10px;
	background:#FBCB81;
}

.section-center {
    width: 50%;
	height: 100%;
    float: left;
    margin: 0 1%;
    padding: 0;
    background: #FBCB81;
    border: 10px solid #300D0D;
	border-radius: 10px;
	overflow: hidden;
}

.section-monstercard {
	float: left;
    width: 350px;
	height: 250px;
    margin: 10px;
    background: #FEF2E2;
    border: 10px solid #300D0D;
	border-radius: 10px;
	overflow: hidden;
}

.section-right {
    width: 28%;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
	background:#FBCB81;
    border: 10px solid #300D0D;
	border-radius: 10px;
	overflow: hidden;
}



.monster-box-enemy {
	text-align: center;
	font-family: Livingst;
	font-size: 22px;
}

#door {
	margin: 10px 0 0 0;
	width: 100%;
}

.boxHeader2 { 
    padding: 0;
}

#unitcounter, #unitpersec, #currentLvl {
    font-family: Livingst;
    font-size: 22px;
	padding: 5px;
}

.diamondIcon {
	color:brown;
	font-size: 18px !important;
}

.theZoo {
	height: 100%;
    overflow-y: auto;
}

#items-box{
	height: 100%;
    overflow-y: auto;
}

.item-field {
    display: block;
    float: left;
    width: 100%;
    margin: 10px 0;
    padding: 0 0 25px 0;
    border-bottom: 1px solid black;
}

.item-image {
    float: left;
    width: 60px;
    height: 60px;
    display: block;
    margin-left: 5px;
}

.button-box {
    display: block;
    width: 30%;
    color: white;
    float: right;
    margin-right: 5px;
    height: 35px;
    border-radius: 15px;
}

.text { 
    color: black;
}

.button-upgrade {
	-moz-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.button-upgrade:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.button-upgraden:active {
	position:relative;
	top:1px;
}

.button-buy {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.button-buy:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.button-buy:active {
	position:relative;
	top:1px;
}

.friendImg{
width: 50%;
margin-left: 25%;
}
