body {
    background: url(../images/swirl_pattern.png) bottom center repeat;
}

.header {
    margin-bottom: 20px;
}

.border {
    background: url(../images/cheap_diagonal_fabric.png) bottom center repeat;    
    border: 1px solid #999;
}

.box {
    min-height: 600px;
}

.container {
    padding-top: 20px;
}

.theZoo {
    overflow: auto;
    height: 598px;
}