@font-face {
    font-family: SherlockFont;
    src: url(../fonts/WATSON.ttf);
}

body {
    background: url(../images/Sherlock_wallpaper_fabric_shop_preview.png) bottom center repeat;
}

.header {
    margin-bottom: 20px;
    font-family: SherlockFont;
}

.header h1 {
    font-size: 70px;
    color: #9A7C4A;
}

.border {
    background: url(../images/gplaypattern.png) bottom center repeat;    
    border: 1px solid #999;
}

.box {
    min-height: 600px;
}

.container {
    padding-top: 20px;
}

.theZoo {
    overflow: auto;
    height: 598px;
}

.button-buy {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 100%;
}